
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Respondent Home Prototype using The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of Census services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>
	  <h3 class="govuk-heading-m">Prototype Home Page</h3>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>
	
      <h2 class="govuk-heading-m">Census Prototype</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/Census_H">Respondent Home Prototype</a></li>
      </ul>
	  <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/Census_H_Cymru">Cymru Census </a></li>
      </ul>
	  <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/Census_RH_NI_Home">Northern Ireland Census </a></li>
      </ul>
	  <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/Census_H_WC_OL">Web Chat Offline Prototype</a></li>
      </ul>
    </div>
<!--	<div class="govuk-grid-column-one-third">
        <hr>
        <h3 class="govuk-heading-m">Related content</h3>
        <p><a href="/docs/HelpAndSupport">Help and Support</a></p>
        <p><a href="/docs/HelpAndSupport">Accessibility</a></p>
        <p><a href="/docs/HelpAndSupport">Communal Establishments</a></p>
        <p><a href="/docs/HelpAndSupport">Help in other languages</a></p>
        <p><a href="/docs/HelpAndSupport">Privacy and Security</a></p>
        <hr>
		<details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
      						<b>	<strong class="govuk-tag">
									Contact Us
								</strong></b>
    					</span>
                    </summary>
                    <div class="govuk-details__text">
                        <p> England </p>
						<p> <b>+44 (0)800 141 2021 </b></p> 
						<p> Wales </p>
						<p><b>+44 (0)800 169 2021</b> </p>
						<p>N.Ireland </p>
						<p> <b>+44 (0)800 328 2021</b>
						</p>
						<p>Language</p>
						<p> <b>+44 (0)800 587 2021 </b></p>
                    </div>
                </details>
        <br></br>
		</hr>
        <br></br>
        <hr>
        <h3 class="govuk-heading-m">Common support</h3>
        <li><a href="/docs/HelpAndSupport">When to return the questionaire</a></li>
        <li><a href="/docs/HelpAndSupport">Getting started with your questionaire</a></li>
        <li><a href="/docs/HelpAndSupport">Away on census day</a></li>
        <li><a href="/docs/HelpAndSupport">Lost internet access code</a></li>
        <li><a href="/docs/HelpAndSupport">Second homes and holiday homes</a></li>
        <li><a href="/docs/HelpAndSupport">When can I complete online</a></li>
      </div>-->
</div>

{% endblock %}
